.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

.footer span {
  font-weight: 400;
  font-size: 1.9rem;
}

strong {
  letter-spacing: 1px;
}

span .strong {
  font-weight: 600;
  font-size: 2rem;
}